.shelf_parent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    min-width: 655px;
}

.header {
    background-color: #ab2a19;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shelf_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.link_box {
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    background-color: #d34735;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.header_content {
    width: auto;
    height: auto;
    position: relative;
    left: -165px;
}

.logo {
    position: relative;
    top: 13px;
    margin-right: 10px;
}

.shelfie {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;

}

.shelf_links {
    position: relative;
    left: -110px;
}

